.treeview, .treeview ul {
    padding: 0 0 0 0;
    margin: 0;
    list-style: none;
}

.treeview li {
    position: relative;
}

.hitarea {
    background: url(../img/icons/expand_collapse.png) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: -20px;
}

.active_lm .hitarea { margin: 0 0 0 -18px; }

.treeview a.selected { background-color: #eee; }
#treecontrol { margin: 1em 0; display: none; }
.treeview li.collapsable { background-position: -16px 0; }
.treeview li.expandable { background-position: -16px 0; }

.treeview .expandable-hitarea { background-position: 0 0; }
.treeview .expandable-hitarea.hovered { background-position: 0 -16px; }

.treeview .collapsable-hitarea { background-position: -16px 0; }
.treeview .collapsable-hitarea.hovered { background-position: -16px -16px; }

.treeview li.last { background-position: 0 0; }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-position: 0 0;  }
.treeview li.lastCollapsable { background-position: -16px 0; }
.treeview li.lastExpandable { background-position: 0 0; }